* {
  --primary-color: #003049;
  --secondary-color: #d62828;
  --main-color: #f77f00;
  --temp-color: #fcbf49;
  --tertiary-color: #eae2b7;
  outline: none;
  box-sizing: border-box;
}

* ::-webkit-scrollbar {
  width: 3px;
}

* ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

* ::-webkit-scrollbar-thumb {
  background: #5f5f5f;
}

* ::-webkit-scrollbar-thumb:hover {
  background: #555;
  width: 10px;
}

body {
  background: var(--tertiary-color);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

#root {
  background: var(--tertiary-color);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

.body-main {
  width: 100%;
  max-width: 800px;
  height: 70%;
  box-shadow: 0px 0px 5px 1px #9c9c9c;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.body-main > div {
  width: 100%;
}

.main-header {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-search {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-search .body-header {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
  background: #003049;
  color: white;
}

.main-search .body-header > div {
  width: 100%;
  display: grid;
  grid-template-columns: 197px 140px repeat(2, 150px) 160px;
}

.main-search .body-header > div > div {
  border: 1px solid white;
  border-left: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.5em;
}

.main-search .body-contents {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #003049;
  color: white;
}

.main-search .body-contents > div {
  width: 100%;
  display: grid;
  grid-template-columns: 197px 140px repeat(2, 150px) 160px;
}

.main-search .body-contents > div > div {
  border: 1px solid white;
  border-left: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.5em;
}

.main-search .body-contents .entry {
  border: 1px solid white;
  border-top: none;
}

.main-search .body-contents .entry > div {
  border: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.9rem;
  padding: 0.5em;
}

.main-search .body-contents .entry:hover {
  background: var(--tertiary-color);
  color: var(--primary-color);
}

.main-search .body-contents .empty {
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-search > form {
  width: 90%;
  height: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.main-search > form > div {
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.main-search > form > div input[type=search] {
  padding: 0.4em;
  background: var(--tertiary-color);
  border: 1px solid var(--main-color);
}

.main-search > form > div input[type=submit] {
  border: 1px solid var(--temp-color);
  background: var(--main-color);
  padding: 0.4em;
}

.main-search > form > div input[type=submit]:hover {
  background: var(--temp-color);
  color: var(--tertiary-color);
}

.main-search > form > div select {
  width: 100px;
  background: var(--primary-color);
  color: var(--tertiary-color);
}

.main-search > form > div .select-div {
  width: 100px;
  background: var(--primary-color);
  color: var(--tertiary-color);
}

.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.438);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  transition: all 0.5s;
}

.popup-active {
  display: flex;
}

.popup-div {
  width: 50%;
  height: 100%;
  max-height: 380px;
  max-width: 300px;
  min-width: 220px;
  background: var(--main-color);
  position: relative;
  border-radius: 10px;
  padding: 0.1em;
}

.popup-div div:nth-child(1) {
  height: 35px;
  padding: 2px;
}

.popup-div div:nth-child(2) {
  width: 100%;
  height: calc(100% - 35px);
}

.popup-div div:nth-child(2) .editing-btn {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.popup-div div:nth-child(2) .editing-btn > button {
  padding: 0.5em 2em;
  cursor: pointer;
  border: none;
  color: var(--tertiary-color);
}

.popup-div div:nth-child(2) .editing-btn .edit {
  background: var(--primary-color);
}

.popup-div div:nth-child(2) .editing-btn .edit:hover {
  background: #014468;
}

.popup-div div:nth-child(2) .editing-btn .delete {
  background: var(--secondary-color);
}

.popup-div div:nth-child(2) .editing-btn .delete:hover {
  background: #b62222;
}

.popup-div div:nth-child(2) .edited-content {
  height: 80%;
  width: 100%;
}

.popup-div div:nth-child(2) .edited-content > form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.popup-div div:nth-child(2) .edited-content > form > div {
  width: 60%;
  min-width: 150px;
  height: 60px;
  margin: 0.1rem;
}

.popup-div div:nth-child(2) .edited-content > form > div > label {
  display: block;
}

.popup-div div:nth-child(2) .edited-content > form > div > input {
  width: 100%;
  padding: 0.6em 0.2em;
  margin: 0.4em 0em;
  background: var(--main-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  caret-color: var(--tertiary-color);
  border-radius: 2px;
}

.popup-div div:nth-child(2) .edited-content > form > div > input:focus {
  border: 1px solid var(--tertiary-color);
}

.popup-div #popup-cancel {
  width: 30px;
  height: 30px;
  padding: 0.3em;
  border-radius: 0px 5px 0px 0px;
  background: var(--main-color);
  color: white;
  font-size: 1.5rem;
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  right: 0%;
  cursor: pointer;
}

.popup-div #popup-cancel:hover {
  color: #014468;
}

.responses {
  width: 50%;
  min-width: 100px;
  padding: 0.5em;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.responses > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.responses > div .responses-div {
  width: calc(100% - 30px);
}

.responses > div #responses-cancel {
  color: white;
  width: 30px;
  font-size: 1.5rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.responses > div #responses-cancel:hover {
  color: black;
}

.response-active {
  display: inline;
}

.response-updated {
  background: #13bb13;
  border: 1px solid green;
}

.response-error {
  background: #bb1313;
  border: 1px solid maroon;
}

.Error-div {
  height: 100px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Error-div .Error-image {
  width: 70%;
  aspect-ratio: 1;
  -o-object-fit: contain;
  object-fit: contain;
}/*# sourceMappingURL=index.css.map */